# BEGIN .gitignore

# Executable
/nv-nx-iq

# License files for test instances
/test/licenses/*.txt
/test/licenses/*.lic

# Jetbrains IDE
/.idea
/.run

# END .gitignore

# GitHub Action workflows
/.github

# Documentation
/docs
